@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;600&display=swap');

html {
  font-family: 'Work Sans', sans-serif;
}

body {
  background-color: #010101;
}

.container {
  max-width: 1216px;
  padding: 0 104px;
  margin: 0 auto;
}

.logo {
  width: 96px;
  height: 48px;
  border-radius: 24px;
}

.home-container {
  position: relative;
  height: 100vh;
}

.home-container .container {
  align-items: flex-start;
  gap: 10px;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container-text {
  color: rgba(227, 228, 230, 0.55);
  text-align: center;
  font-style: normal;
  font-size: 56px;
  font-weight: 300;
  line-height: 150%;
  letter-spacing: -1.12px;
}

.thick-text {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.menu-container {
  display: flex;
  gap: 32px;
  align-items: center;
}

.menu-item {
  color: #E3E4E6;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.homeb,
.workb,
.aboutb {
  width: 24px;
  height: 24px;
}

.chevron-container {
  position: absolute;
  bottom: 42px;
  right: 50%;
  width: 40px;
  height: 40px;
}

.menu-item:hover {
  color: pink;
}

.menu-item::after {
  content: "";
  width: 100%;
  position: absolute;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #E3E4E6;
  transform-origin: bottom right;
  transition: transform 0.25s ease-in-out;
}

.menu-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.clients-container-text {
  width: 513px;
  color: var(--neutral-2, rgba(227, 228, 230, 0.55));
  font-size: 40px;
  line-height: 150%;
}

.clients-container {
  padding-top: 80px;
  padding-bottom: 130px;
}

.client-logos-container {
  display: flex;
  margin-top: 80px;
  width: 1216px;
  height: 60.5px;
  padding: 16px 0px;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}

.clogo {
  visibility: visible;
  position: absolute;
}

.client-logo-item {
  display: flex;
  padding: 16px 0px;
  justify-content: space-between;
  align-self: stretch;
  align-items: center;
}

.client-logo-item svg path {
  transition: fill 0.25s;
}

.client-logo-item:not(:hover) svg path {
  fill: #E3E4E6;
}

.work-container {
  display: flex;
  padding: 80px 110px 120px 110px;
  flex-direction: column;
  align-items: flex-start;
  gap: 97px;
}

.work-container-text {
  font-size: 40px;
  color: rgba(227, 228, 230, 0.55);
}

.work-container-header {
  display: block;
  border-radius: 16px;
  margin-top: 97px;
  align-items: flex-start;
  align-self: stretch;
  gap: 32px;
}

.workslideright {
  display: flex;
  flex-direction: row-reverse;
}

.work-container-text {
  gap: 32px;
  align-items: flex-start;
  align-self: stretch;
  font-size: 32px;
  font-style: normal;
  color: rgba(227, 228, 230, 0.55)
}

.work-header-text {
  font-size: 40px;
  color: rgba(227, 228, 230, 0.55);
  font-weight: 300;
  line-height: 150%;
  margin-bottom: 97px;
}

.card1,
.card2,
.card3,
.card4 {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
  margin-bottom: 97px;
  align-items: flex-end;
}

.card-header {
  font-size: 16px;
  font-weight: 600px;
  letter-spacing: 0.64px;
  color: #E3E4E6;
  text-transform: uppercase;
  line-height: 150%;
  margin-top: 32px;
}

.card-body {
  font-family: Work Sans;
  color: #E3E4E6;
  font-size: 32px;
  font-weight: 300px;
  line-height: 150%;
  font-style: normal;
  margin-top: 16px;
}

.card-bottom {
  font-size: 18px;
  color: #E3E4E6;
  font-style: normal;
  font-weight: 300px;
  line-height: 150%;
  margin-top: 24px;
}

.card-button {
  text-transform: uppercase;
  font-weight: 400;
  color: #E3E4E6;
  line-height: 150%;
  letter-spacing: 0.64px;
  font-size: 16px;
  border-radius: 100px;
  border: 1px solid rgba(227, 228, 230, 0.55);
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  display: flex;
  width: 131px;
  margin-top: 32px;
  transition: all 0.25s linear;
}

.card-button:hover {
  background: linear-gradient(134deg, #BC3CD8 0%, #C54B8C 100%);
}

.card-column1 {
  flex: 50%;
}

.card2,
.card4 {
  flex-direction: row-reverse;
}

.info-box-container {
  display: flex;
  padding: 74px 107px;
  max-width: 1216px;
  align-items: center;
  margin: 0 auto;
  height: 848px;
  column-count: 2;
  gap: 34px;
}

.info-header {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 1.44px;
  color: #E3E4E6;
  font-style: normal;
  margin-bottom: 16px;
}

.card-column2 {
  align-items: flex-end;
}

.info-column1 {
  width: 613px;
}

.info-body {
  font-size: 32px;
  font-style: normal;
  color: rgba(227, 228, 230, 0.55);
  line-height: 150%;
}

.info-column2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;
  align-self: stretch;
}

.infoimg1 {
  display: flex;
  flex: 1 0 0;
}

.info-column3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 32px;
  flex: 1 0 0;
  align-self: stretch;
}